# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment Variables
.env
.env.*
!.env.example

# Testing
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor Files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj